<?xml version="1.0"?>

<configuration>
    <connectionStrings>
        <add name="megaClientConString" connectionString="Data Source=MEGAi7-pc;Initial Catalog=bigWindow;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="cPreFix" value="bw_" />
        <add key="cUType" value="2" />
        <add key="cDomain" value="http://storesocial.megasoftwares.com" />
    </appSettings>
    <system.web>
        <httpRuntime requestValidationMode="2.0"/>
        <compilation debug="true"/>
        <customErrors mode="Off"></customErrors>
    </system.web>
</configuration>
